
.background {
    margin-top: 3rem;
    margin-right: 1rem;
    margin-left: 1rem;
    /* width: 95%; */
    max-width: 25rem;
    border-radius: 6px;
    background-color: rgba(139, 136, 136, 0.738);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.2);
    padding: 1rem;
    text-align: center;
  }
  
  .background h1 {
    text-align: center;
    color: rgb(255,204,1);
  }
  
  .control {
    margin-bottom: 0.5rem;
  }
  
  .control label {
    display: block;
    color: rgb(255,204,1);
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input {
    font: inherit;
    background-color: rgba(183, 176, 176, 0.807);
    color: #000;
    border-radius: 4px;
    border: 1px solid rgb(255,204,1);
    width: 100%;
    text-align: left;
    padding: 0.25rem;
  }
  .control input::placeholder{
    color: rgb(255,204,1);
  }
  .control textarea {
    font: inherit;
    background-color: rgba(183, 176, 176, 0.807);
    color: #000;
    border-radius: 4px;
    border: 1px solid rgb(255,204,1);
    width: 100%;
    text-align: left;
    padding: 0.25rem;
  }

  .control select {
    font: inherit;
    background-color: rgba(183, 176, 176, 0.807);
    color: #000;
    border-radius: 4px;
    border: 1px solid rgb(255,204,1);
    width: 100%;
    text-align: left;
    padding: 0.25rem;
  }
  
  .actions {
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .button {
    cursor: pointer;
    font: inherit;
    color: rgb(255,204,1);
    background-color: #840303;
    border: 1px solid #840303;
    border-radius: 4px;
    padding: 0.5rem 2.5rem;
  }
  
  .button:hover {
    background-color: #840303;
    border-color: #840303;
  }
  
  .actions .toggle {
    margin-top: 1rem;
    background-color: transparent;
    color: rgb(255,204,1);
    border: none;
    padding: 0.15rem 1.5rem;
    
  }
  
  .actions .toggle:hover {
    background-color: transparent;
    color: rgb(255,204,1);
  }
  .error {
    color:#840303;
    font-size: 2em;
    font-weight: bold;
  }