.alert {
  margin: 1rem auto;
  padding: 1rem 2rem;
  width: 90%;
  max-width: 40rem;
  background-color: rgba(139, 136, 136, 0.738);
  color: rgb(255,204,1);
  font-weight: bold;
  font-size: 1.5rem;
  text-align: center;
  border-radius: 6px;
}